*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  
}

.header{
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.section{
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.section > h2 {
  margin-bottom: 20px;
}